# Encuesta de Fundamentos

Esta es una encuesta para evaluar los fundamentos técnicos del desarrollador.

# Cómo responder la encuesta

Se le mostrará una serie de conceptos de Python. En una escala del 0 al 3, escribe qué tan familiarizado estás con los conceptos.

# Escala

| Valor | Significado |
|---|---|
| 0 | No lo conozco |
| 1 | Básico |
| 2 | Intermedio |
| 3 | Avanzado |

{% for encuesta in data -%}
## {{ encuesta.encuesta | replace("_", " ") | title }}

{% for seccion in encuesta.secciones -%}
### {{ seccion.seccion | replace("_", " ") | title }}

| Valor | Tema | Conceptos |
|---|---|---|
{% for item in seccion.temas -%}
|  | {{ item.tema }} | {{ item.conceptos }} |
{% endfor %}
{% endfor -%}
{% endfor %}